<%- include ('../partials/head') %>
<%- include ('../partials/nav') %>


<main>
    <div class="container">
      <form action="pages/home" method="POST">
        <div>
            <h1 style="margin-left:auto; margin-right:auto; margin-top:50px">
                <centre>Welcome <%= firstName %>
                </centre>
            </h1>
        </div>
        <div>
            <a href="">Submitted Applications</a>
        </div>

        <div>
            <a href="/jobBoard">Find Jobs</a>
        </div>


</main>

<%- include ('../partials/footer') %>