<%- include ('../partials/head') %>
<%- include ('../partials/nav') %>

<main>
    <div class="container">
      
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Job Example</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
  
      
  </div>
  
    </div>
  </main>

<%- include ('../partials/footer') %>