<script>
    function addJobExperience() {
      if(counter !=5){
      // Get the container element where job experiences will be added
        var container = document.getElementById('work_experience');
        // Create a new job experience section
        var newJobExperience = document.createElement('div');
        newJobExperience.innerHTML = `
            <div >
                <label style ="display: inline;" for="company_name">Company Name ${counter}: </label> <br>
                <input required type="text" id="company_name_${counter}" name="company_name" />
            </div>
            <div >
                <label style ="display: inline;" for="position">Position ${counter}</label> <br>
                <input required type="text" id="position_${counter}" name="position" />
            </div>
            <div >
                <label style ="display: inline;" for="employment_time">Time in postion ${counter}</label> <br>
                <input required type="text" id="employment_time_${counter}" name="employment_time" />
            </div>
            <div >
                <label style ="display: inline;" for="achievements">Achievements ${counter}</label> <br>
                <input required type="text" id="achievements_${counter}" name="achievements" />
            </div>
        `;

        // Append the new job experience section to the container
        counter = counter +1;
        container.appendChild(newJobExperience);
      }
    }
</script>

<script>
    function addReference() {
      if(counter_1!=3){
      // Get the container element where job experiences will be added
      var container = document.getElementById('references');
      // Create a new job experience section
      var newReference = document.createElement('div');
      newReference.innerHTML = `
        <div >
            <label style ="display: inline;" for="referal_name">Name of Person doing referal: ${counter_1}</label> <br>
            <input required type="text" id="referal_name_${counter_1}" name="referal_name" />
        </div>
        <div >
            <label style ="display: inline;" for="referal_email">Referal Email ${counter_1}</label> <br>
            <input required type="email" id="referal_email_${counter_1}" name="referal_name" />
        </div>
        <div >
            <label style ="display: inline;" for="referal_number">Referal Phone Number ${counter_1}</label> <br>
            <input required type="text" id="referal_number_${counter_1}" name="referal_number" />
        </div>
      `;

      // Append the new job experience section to the container
      counter_1 = counter_1 +1;
      container.appendChild(newReference);
      }
    }
</script>
<script>
    function submitForm() {
        console.log("Hello there");
        document.getElementById("myForm").style.display = "none";
    }
</script>
<div class="border"
    style="text-align: center; margin-left:auto; margin-right:auto;width:500px; margin-top:150px">
        <form action="/information" method="POST" id="information">
            <h3>Personal Information</h3>
            <div >
                <label style ="display: inline;" for="first_name">First Name: </label> <br>
                <input required type="text" id="first_name" name="first_name" />
            </div>
            <div >
                <label style ="display: inline;" for="last_name">Last Name: </label> <br>
                <input required type="text" id="last_name" name="last_name" />
            </div>
            <div> 
                <label style ="display: inline;" for="phone_number">Phone Number: </label> <br>
                <input required type="text" id="phone_number" name="phone_number" />
            </div>
            <div >
                <label style ="display: inline;" for="email_1">Email: </label> <br>
                <input required type="email" id="email_1" name="email_1" />
            </div>
            <div >
                <label style ="display: inline;" for="street_address">Address: </label> <br>
                <input required type="text" id="street_address" name="street_address" />
            </div>
            <div >
                <label style ="display: inline;" for="city">City: </label> <br>
                <input required type="text" id="city" name="city" />
            </div>
            <div >
                <label style ="display: inline;" for="state">State: </label> <br>
                <input required type="text" id="state" name="state" />
            </div>
            <div >
                <label style ="display: inline;" for="zip_code">Zip code: </label> <br>
                <input required type="text" id="zip_code" name="zip_code" />
            </div>
            <h3>Educational Background</h3>
            <div >
                <label style ="display: inline;" for="college">College Attended: </label> <br>
                <input id="college" name="college" />
            </div>
            <div >
                <label style ="display: inline;" for="degree">Planned or earned Degree: </label> <br>
                <input id="degree" name="degree" />
            </div>
            <div style="margin-bottom:30px;">
                <p>If you didn't attended college leave previous blank.</p>
            </div>
            <div >
                <label style ="display: inline;" for="high_school">High School Attended: </label> <br>
                <input required type="text" id="high_school" name="high_school" />
            </div>
            <h3>Previous Work Experience</h3>
            <div id="work_experience">
                <div >
                    <label style ="display: inline;" for="company_name">Company Name: </label> <br>
                    <input required type="text" id="company_name" name="company_name" />
                </div>
                <div >
                    <label style ="display: inline;" for="position">Position</label> <br>
                    <input required type="text" id="position" name="position" />
                </div>
                <div >
                    <label style ="display: inline;" for="employment_time">Time in postion</label> <br>
                    <input required type="text" id="employment_time" name="employment_time" />
                </div>
                <div >
                    <label style ="display: inline;" for="achievements">Achievements</label> <br>
                    <input required type="text" id="achievements" name="achievements" />
                </div>
            </div> <br>
            <script>var counter = 2;</script>
            <button type="button" onclick="addJobExperience()">More Work Experience Click Here. Max of 4 Jobs!</button>
            <h3>Skills</h3>
            <div >
                <label style ="display: inline;" for="skills">Skills: </label> <br>
                <input required type="list" id="skills" name="skills" />
            </div>
            <h3>References</h3>
            <div id="references">
                <div >
                    <label style ="display: inline;" for="referal_name">Name of Person doing referal: </label> <br>
                    <input required type="text" id="referal_name" name="referal_name" />
                </div>
                <div >
                    <label style ="display: inline;" for="referal_email">Referal Email </label> <br>
                    <input required type="email" id="referal_email" name="referal_email" />
                </div>
                <div >
                    <label style ="display: inline;" for="referal_number">Referal Phone Number</label> <br>
                    <input required type="text" id="referal_number" name="referal_number" />
                </div>
            </div> <br>
            <script>var counter_1 = 2;</script>
            <button type="button" onclick="addReference()">More Referals Click Here. Max of 2 Referals!</button> <br>
            <h3>Resume</h3>
            <div >
                <label style ="display: inline;" for="resume">Insert Resume Below</label> <br> <br>
                <input required type="file" id="resume" name="resume" />
            </div>
            <input style="margin-top:30px; margin-bottom: 30px;" type="submit" value="Submit Job Application Filler Form" onclick="submitForm()"/>
        </form>
</div>